<select (change)="onChange($event.target.value)">
  <option value="allAnimals" selected="selected">All Animals</option>
  <option value="matureAnimals">Mature Animals</option>
  <option value="youngAnimals">Young Animals</option>
</select>
<hr width="50%">
<ul>
  <li *ngFor="let currentAnimal of childAnimalList | age:filterByAge">
    <h3 id="word">{{currentAnimal.name}}</h3><i>{{currentAnimal.name}} is from the {{currentAnimal.species}} family and is {{currentAnimal.age}} years old. <b>Caretaker Count:</b> {{currentAnimal.caretakers}}. <b>Diet:</b> {{currentAnimal.diet}}. <b>Zoo Location:</b> {{currentAnimal.location}}. <b>Sex:</b> {{currentAnimal.sex}}. <b>Likes:</b> {{currentAnimal.likes}}. <b>Dislikes:</b> {{currentAnimal.dislikes}}</i> <button (click)='editButtonHasBeenClicked(currentAnimal)'>Edit</button><br><br></li>
</ul>
